/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #circle {
  height: 200px;
  width: 200px;
  background-color: olivedrab;
  border: 1px solid;
  display: inline-block;
  transition: background-color 3s 1s, border-radius 1s;
}

#circle:hover {
  background-color: blue;
  border-radius: 50%;
} */

/* section div {
  height: 100px;
  width: 100px;
  background-color: turquoise;
  margin: 20px 0;
  transition: margin-left 3s;
} */

/* section:hover div {
  margin-left: 500px;
} */

/* div:nth-of-type(1) {
  transition-timing-function: ease-in;
}
div:nth-of-type(2) {
  transition-timing-function: ease-out;
}
div:nth-of-type(3) {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
div:nth-of-type(4) {
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
} */

/* #transforms1 h1 {
  background-color: green;
  border: 5px solid blue;
  color: tan;
  padding: 0.7 em;
  width: 300px;
  font-size: 1.8 em;
  text-align: center;
  margin: 20px auto;
  font-family: Courier new;
  font-weight: lighter;
  transition: 3s;
}

#transforms1 h1:nth-of-type(2n) {
  background-color: orange;
}

#transforms1 h1:nth-of-type(3n) {
  background-color: red;
}

#transforms1 h1:nth-of-type(4n) {
  background-color: yellow;
}

#transforms1:nth-of-type(1) h1:nth-of-type(1):hover {
  transform: rotate(45deg) scale(1.2);
}
#transforms1:nth-of-type(1) h1:nth-of-type(2) {
  transform: scale(0.5);
}
#transforms1:nth-of-type(1) h1:nth-of-type(3) {
  transform: translateX(200px);
}
#transforms1:nth-of-type(1) h1:nth-of-type(4) {
  transform: translate(-200px, 100px);
}

#hover-button button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
} */

/* #hover-button button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0px 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
} */

/* #background section {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/800px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg');
  background-size: contain;
  background-position: right;
  background: center/40% no-repeat
      url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/800px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg'),
    blue;
  font-family: 'Oi', cursive;
} */

/* #background section h1 {
  font-size: 100px;
  color: white;
} */

/* #cssblog img {
  width: 30%;
  height: 400px;
  object-fit: fill;
  margin: calc(10% / 6);
} */

/* #cssblog nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: 1.6666%;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
} */

/* #flexbox #container div {
  width: 100px;
  height: 100px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 600px;
} */

/* #flexbox #container div:nth-of-type(1) {
  background-color: #80ffdb;
  flex-grow: 1;
  flex-shrink: 1;
} */
/* 
#flexbox #container div:nth-of-type(2) {
  background-color: #63dfdf;
  align-self: flex-start;
  flex-shrink: 2;
} */

/* #flexbox #container div:nth-of-type(3) {
  background-color: #48bfe3;
  flex-shrink: 3;
} */

/* #flexbox #container div:nth-of-type(4) {
  background-color: #5390d9;
  align-self: flex-end;
  flex-shrink: 4;
} */

/* #flexbox #container div:nth-of-type(5) {
  background-color: #6930c3;
  flex-shrink: 5;
} */

/* #flexbox h1 {
  text-align: center;
}

#flexbox h2 {
  text-align: center;
} */

/* #container {
  background-color: #003049;
  width: 90%;
  height: 300px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  align-content: center;
} */

/* #flexbox main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex
}

#flexbox main .sidebar {
  background-color: purple;
  border: 2px solid white;
  flex:1 2 300px;
}

#flexbox main .maincontent {
  background-color: green;
flex: 2 1 800px;
} */

/* @media (min-width: 600px) and (max-width: 800px) {
  h1 {
    color: purple
  }
} */

/* @media (max-width: 500px) {
  h1 {
    color: red
  }
} */

/* @media (orientation: landscape) {
  body{
    background-color: magenta;
  }
} */
/* #mediaqueries h1 {
  text-align: center;
  font-size: 6em;
}

#mediaqueries nav {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #mediaqueries h1 {
    font-size: 4em
  }
  #mediaqueries nav {
    flex-direction: column;
    align-items: center
  }
  #mediaqueries nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  #mediaqueries h1 {
    font-size: 3em
  }
}

#mediaqueries ul,li {
  display: inline;
  margin: 0;
  padding: 0;
}

#mediaqueries li {
  margin-left: 5px;
  margin-right: 5px
}

#mediaqueries ul {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: space-evenly;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: 'verdana';
}

body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  display: flex;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1e1ff
}
.pricing-plan:last-child {
  border-bottom: none
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #016ff9;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1e1ff;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1e1ff;
}

.pricing-price {
  color: #016ff9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: all 200ms ease-in-out
}

.pricing-button:hover, .pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
  background-color: #269aff;
  color: white;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1e1ff;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none
  }
}
